{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center;">Web App Portfolio</h1>
<br>
<div class="row">
{% for project in projects %}
    <div class="col-md-6 col-lg-4 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="{{ project.image.url }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description|truncatechars:100 }}</p>
                <a href="{% url 'full_view' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
 {% endfor %}
</div>
{% endblock %}
